<!--<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul> -->

<!-- <h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= article_path(article) %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul> -->
<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #808080;
  color: white;
}
</style>
</head>
<%= render "header", article: @article %>
<center><h1>Articles</h1></center>

<center>Our blog has <%= Article.public_count %> articles and counting!</center><br>

<center><%= link_to "New Article", new_article_path %></center><br>

<table id="customers">
  <tr>
    <th>S.No</th>
    <th>Article</th>
    <th>Body</th>
    <th>Status</th>
    <th>Operation</th>
  </tr>
  <tr>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
    <td>
        <%=article.id%>
      </td>
    <td>
        <%= link_to article.title, article %>
      </td>
    <td>
        <details>
        <summary>Content</summary>
        <p><%=article.body %></p>
        </details>
        
        
      </td>
    <td>
        <%=article.status %>
      </td>
      
    <td>
    <pre><%= link_to "Edit",action: :edit, id: article.id %> || <%= link_to "Destroy",article_path( article.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></pre>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>




